:root{
    background-color: rgb(241, 240, 234);
}

body { margin: 0 }

.container {
width: 60%;
margin: auto;
margin-bottom: 50px;
text-align: center;
}

h2{
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: 5vh;
color:rgb(73, 66, 60)
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(73, 66, 60)
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    background-color: #ebccec;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2vh;
    cursor: pointer;
    box-shadow: 5px 5px 12px -3px rgba(88,63,83,0.53);
    transition: 0.25s;
    &:hover {
        color:rgb(150, 99, 135) 
       }
}


    